@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    background-color: white;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #0597F2;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0682cf;
}